!!! Strict
%html
  %head
    %title= @title
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/main.css"}/
    %style{:type=>"text/css"}
      :sass
        #content
          float: left
          width: 70%
        #sidebar
          float: right
          width: 28%
  %body
    = render "header", :locals => { :local_variable => "Local variables work!" }
    #content
      %h1= @title
      = yield
    - if content_for?(:sidebar)
      #sidebar
        = yield :sidebar
    = render "footer"