<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" href="/stylesheets/screen.css">
    <% if @author %><meta name="author" content="<%= @author || "John W. Long" %>"><% end %>
    <% if @description %><meta name="description" content="<%= @description %>"><% end %>
    <% if @keywords %><meta name="keywords" content="<%= @keywords %>"><% end %>
    <% if @selected == "home" %><%= render "/video_head" %><% end %>
    <link rel="canonical" href="<%= absolute_url %>">
    <link rel="shortcut icon" type="image/x-icon" href="<%= domain %>/favicon.ico">
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= render "google-analytics" %>
  </head>
  <body<% if selected? "home" %> role="homepage"<% end %>>
    <header role="banner">
      <hgroup>
        <a role="logo" href="/">
          <h1>Serve</h1>
          <h2>Delicious ERB, Haml + Sass</h2>
        </a>
      </hgroup>
    </header>
    <nav role="navigation">
      <ul>
        <li<%= ' class="here"' if selected? "get-started" %>><a href="/get-started">Get&nbsp;Started</a></li>
        <li<%= ' class="here"' if selected? "documentation" %>><a href="/documentation">Documentation</a></li>
        <li<%= ' class="here"' if selected? "mailing-list" %>><a href="/mailing-list">Mailing List</a></li>
        <li class="highlight"><a href="http://github.com/jlong/serve">On&nbsp;GitHub&nbsp;&rarr;</a></li>
      </ul>
    </nav>
    <section role="main">
      <% if selected? "documentation/" %>
      <nav role="breadcrumbs">
        <a href="/documentation">Documentation</a>
        <% if selected? /create|export|convert/ %><a href="/documentation/usage">Usage</a><% end %>
      </nav>
      <% end %>
      <article>
        <%= yield :before_content %>
        <header><h1><%= @page_title || @title %></h1></header>
        <%= yield %>
      </article>
    </section>
    <footer>
      <small>
        <p>
          &copy; <%= copyright_years 2011 %> <a href="http://johnwlong.com">John W. Long</a>.
          Serve is open-source software. It is <em>completely free</em> for commercial and non-commercial use.
          <a href="/contributing">Wanna help?</a>
        </p>
      </small>
    </footer>
    <%= render "gauges" %>
  </body>
</html>
